#theclock
  margin: 100px 100px
  font-size: 36px
  font-family: sans-serif
  text-align: center

  #playersbox
    text-align: center
    padding: 10px 30px
    .clockbox
      margin: 0
      padding: 0
      border: none
      width: calc(50% - 26px)
      float: left
      display: inline-block
      border: solid 3px transparent
      padding: 10px
      cursor: pointer
      &.active
        background-color: rgb(197, 255, 197)
      .time
  #controlsbox
    padding: 10px 30px
    display: inline-block
    margin: 10px 0
    .btn
      border: solid 2px #999
      padding: 3px 10px
      border-radius: 5px
      &:hover
        cursor: pointer 
        border: solid 2px black

// Stuff specific to paused or not

#theclock.active
  #playersbox
  #controlsbox
    #startbtn
      display: none
    #resetbtn
      display: none

#theclock.gameover
  #playersbox
    .clockbox.active
      background-color: rgb(255,200,200)
  #controlsbox
    #startbtn
      display: none
    #pausebtn
      display: none

#theclock.paused
  #playersbox
    .clockbox.active
      background-color: transparent
      border: solid 3px rgb(200,255,200)
  #controlsbox
    #pausebtn
      display: none
    #resetbtn
      display: none

#optionsbox
  display: none
